<!DOCTYPE html>

<html data-ng-app="XecareApp">
<head>
    @Html.Partial("~/Views/Layouts/Partials/_CommonHeader.cshtml")

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="@SiteUI.FileUrl("~/Sites/utsw/Content/Images/favicons/favicon.png")">

    @Html.Partial("~/Views/Layouts/Partials/_CommonCSSLinks.cshtml")
    <link href="~/Content/Styles/publicwebsite.css" rel="stylesheet" />
    <link href="~/Sites/utsw/Content/Styles/utsw.css" rel="stylesheet" />
    @if (UIText.IsRTL()) // right to left support for bootstrap
    {
        <link href="~/Content/Styles/publicwebsite-rtl.css" rel="stylesheet" />
    }
    
    @RenderSection("Head", required: false)
</head>
<body>

    @Html.Partial("~/Views/Layouts/Partials/_NoScript.cshtml")

    @Html.Partial("~/Views/Layouts/Partials/_PageMainLoadingMask.cshtml")


    <div id="AngularJSMainController" data-ng-controller="indexController">

        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.GetCulturalUrl("Default/Index")">
                    <img src="@SiteUI.FileUrl("~/Sites/utsw/Content/Images/Logo/logo.png")" height="28" width="28" /><b class="uppercase hidden-xs"> &nbsp;UTSW Post-surgical care</b>
                </a>
            </div>
        </nav>

        <div class="container">
            @RenderBody()
            <div data-ng-view="">
            </div>
        </div>

    </div>

    @Html.Partial("~/Views/Layouts/Partials/_CommonJSLinks.cshtml", new CommonJSLinksViewModel() { IsDashboard = false })

    @Html.Partial("~/Views/Layouts/Partials/_UnsupportedBrowserDialog.cshtml")
    @Html.Partial("~/Views/Layouts/Partials/_NoCookies.cshtml")

    <script type="text/javascript">
        setFormValidations();
    </script>


    @RenderSection("Scripts", required: false)

    @if (FWHtml.IsDebug()) { 
        @RenderSection("DebugScripts", required: false)
    }
    

    @Html.Partial("~/Views/Layouts/Partials/_GoogleAnalytics.cshtml", new GoogleAnlyticsViewModel() { RenderAngularJS = true })


</body>
</html>
