@using UTD.Tricorder.Common.EntityObjects;
@{
    var entityName = vMedicalHistory.EntityName;
    var entity = Framework.Common.EntityFactory.GetEntityInfoByName(entityName, "");
}


@{
    string modelPrefix = "model.Sign.";
    string sectionName = "Sign";
    ViewBag.PanelTitle = "Sign";
}

@{ ViewBag.ViewTitle = "Breast Cancer Questionnaire"; }
@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewHeader.cshtml")

@{ ViewBag.ActiveTab = "Sign";}
@Html.Partial("~/Views/Dashboard/BreastCancer/_BreastCancerTabs.cshtml")



<form role="form"
      ng-controller="@(entityName)@(sectionName)Controller"
      id="@(entityName)@(sectionName)Frm"
      onsubmit="return false;">

    By signing below, I hereby certify that to the best of my knowledge all the information I have furnished on
    this form is complete, true, and accurate.
    Patient initials:
    <div class="form-group">
        <input type="text"
               class="form-control"
               name="PatientName"
               placeholder="Print your name"
               data-bv-notempty="true"
               data-ng-model="@(modelPrefix + "PatientName")" />
    </div>
    @*<div class="form-group">
            <label>Date</label>
            <input type="text"
                    name="Date"
                    placeholder="YYYY/MM/DD"
                    class="form-control"
                    data-ng-model="@(modelPrefix + "SignDate")"
                    data-mask="0000/00/00"
                    data-bv-date="true"
                    data-bv-date-format="YYYY/MM/DD"
                    data-bv-notempty="true">
        </div>*@



    <div class="form-group">
        <button class="btn btn-lg btn-success btn-block"
                ng-click="Save($event)">
            Sign
        </button>
    </div>

</form>

@Html.Partial("~/Views/Dashboard/_Layout/_MasterViewFooter.cshtml")
