@{
    //DEVELOPER NOTE: Don't change file name unless you change the code for replacement inside main button click
    ViewBag.Title = UIText.Error.AccessDenied403.PageTitle;
    Layout = SiteUI.GetViewPath("~/Views/Layouts/_PublicWebLayout.cshtml");
}

@{ ViewBag.ViewTitle = UIText.Error.AccessDenied403.PanelTitle; }
@Html.Partial("~/Views/Default/_Layout/_SmallFormHeader.cshtml")


<p>@UIText.Error.AccessDenied403.ErrorText</p>
<br/>

<a class="btn btn-lg btn-success" href="javascript:history.back()">
    @UIText.Error.Buttons.BackButtonTitle
</a>
<a class="btn btn-lg btn-info" href="javascript:window.gotoMainPage()">
    @UIText.Error.Buttons.MainPageButtonTitle
</a>

@Html.Partial("~/Views/Default/_Layout/_SmallFormFooter.cshtml")


