@{
    ViewBag.Title = "Reset Password";
    Layout = SiteUI.GetViewPath("~/Views/Layouts/_PublicWebLayout.cshtml");
}

@{
    var entityName = "User";
    var entity = Framework.Common.EntityFactory.GetEntityInfoByName(entityName, "");
    string controllerName = entityName + "ResetPasswordForm";
}

@{ ViewBag.ViewTitle = "Reset Password"; }
@Html.Partial("~/Views/Default/_Layout/_SmallFormHeader.cshtml")

<form id="@(controllerName)Frm"
      role="form"
      onsubmit="return false"
      ng-controller="@(controllerName)Controller">


    <div id="ResetPasswordSection"
         ng-hide="ResetPasswordCodeSent != true">

        <div>
            A reset password code has been sent to your email. It may take a few seconds to get there. Please check your email or phone number and use the reset code to change your password.
        </div>

        @FWHtml.Editor(entity.EntityColumns[vUser.ColumnNames.ResetPasswordCode], "data-bv-notempty=\"true\"")

        <div class="form-group">
            <label class="control-label">New Password</label>
            <input class="form-control"
                   type="password"
                   name="password"
                   placeholder="New Password"
                   data-ng-model="model.NewPassword"
                   data-bv-notempty="true" />
        </div>
        <div class="form-group">
            <label class="control-label">Confirm new Password</label>
            <input class="form-control"
                   type="password"
                   name="confirmpassword"
                   placeholder="New Password"
                   data-ng-model="model.ConfirmNewPassword"
                   data-bv-notempty="true" />
        </div>

        <button class="btn btn-lg btn-success"
                ng-click="ResetPassword()">
            Change Password
        </button>

        <hr />

    </div>



    <div id="RequestSection">

        <p>Please enter your phone number or email to recieve a reset code. Use this code to change your password</p>

        @*<div class="form-group">
                <label>Email or Phone Number</label>
                <input type="text"
                       name="EmailOrPhoneNumber"
                       class="form-control"
                       placeholder="email or phone number"
                       data-ng-model="model.EmailOrPhoneNumber"
                       data-bv-notempty="true"
                       >
            </div>*@

        <div class="form-group">
            <label>Reset password by </label>
            @FWHtml.YesNoRadios("", "IsEmail", true, "Email", "Phone Number")
        </div>

        <div ng-hide="IsEmail != true">
            @FWHtml.Editor(entity.EntityColumns[vUser.ColumnNames.Email], "data-bv-notempty=\"true\"" + " ng-disabled='IsEmail == false'")
        </div>
        <div ng-hide="IsEmail == true">
            @FWHtml.Editor(entity.EntityColumns[vUser.ColumnNames.PhoneNumber], "data-bv-notempty=\"true\"" + " ng-disabled='IsEmail == true'")
        </div>


            <button class="btn btn-lg btn-primary"
                    ng-click="ResetPasswordRequest()">
                Send Reset Password Code
            </button>

        </div>



</form>

@Html.Partial("~/Views/Default/_Layout/_SmallFormFooter.cshtml")